<%- include('../partials/header.ejs')%>
<div class = "content">
    <form  method="POST" action="/connections/<%= event.id%>?_method=PUT" ></form>
      <table>
          <tr>
              <td><label for='createdBy'>HostedBy</label></td>
              <td><input type="text" id='createdBy' name='createdBy' class = "fixed-width" value = <%= event.createdBy%>></td>
          </tr>
          <tr>
              <td><label for="Title">Name of the Game</label></td>
              <td><input type="text" id="Title" name="Title" class = "fixed-width" value = <%= event.Title%> ></td>
          </tr>
          <tr>
            <td><label for="Type">Game Category</label></td>
            <td><input type="text" id="Type" name="Type" class = "fixed-width" value = <%= event.Type%> ></td>
        </tr>
          <tr>
              <td class = "align-top"><label for="details">Details</label></td>
              <td><textarea rows="5" id="details" name="details" class = "fixed-width" value = <%= event.details%> ></textarea></td>
          </tr>
          <tr>
            <tr>
                <td class = "align-top"><label for="Location">Location</label></td>
                <td><input type="text" id="Location" name="Location" class = "fixed-width" value = <%= event.Location%> ></textarea></td>
            </tr>
            <td class = "align-top"><label for="When">When</label></td>
            <td><input type="text" id="date" name="date" class = "fixed-width" value = <%= event.date%> ></textarea></td>
            </tr>
            <tr>
            <td class = "align-top"><label for="Start&emspTime">Start Time</label></td>
            <td><input type="Time" id="Start&emspTime" name="starttime" class = "fixed-width" value = <%= event.starttime%> ></textarea></td>
            </tr>
            <tr>
                <td class = "align-top"><label for="End&emspTime">End Time</label></td>
                <td><input type="Time" id="End&emspTime" name="endtime" class = "fixed-width" value = <%= event.endtime%> ></textarea></td>
                </tr>
            <tr>
                <td class = "align-top"><label for="Select&emspImage">Select Image</label>
                    <td>   <input type="file" id="Select&emspImage" name="image" accept="image/*" value = <%= event.image%> ></td>
            </tr>
            <td colspan="2" class = "align-right"><button>Submit</button></td>
      </table>     
  </form>

  </div>
  </main>
  <%- include('../partials/footer.ejs')%>